@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button {
  border: none;
  background: none;
}

/* general */

body {
  font-family: "Roboto", sans-serif;
}
